# Intellij Project
.idea
*.iml
classes

# Personal DockTest
# src/me
localtest.yml

# target
target/classes
target/generated-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes